.*~
*.pyc
*-eps-converted-to-pdf.pdf
manuscript/output/*
.env
*.ipynb_checkpoints
*.cache
*.coverage

# Tex files
*.synctex.gz
*.fls
*.bbl
*.blg
*.fff
*.log
*.lof
*.aux
*.pyc
*.out
*.lot
*.toc
*.ttt
*~
*-eps-converted-to.pdf
*.fdb_latexmk
*.tiff
